.projetos header{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color:#141414;
    display:flex;
    padding:10px;
    align-items: center;
    position: relative;
}

.projetos img{
    display:inline-block;
}

.projetos-logo-e-nome {
    display:flex;
}

.projetos-logo-e-nome h3{
    font-size:2rem;
    color:#ffffff;
    padding:5px;
    display:inline-block;
}

.lista-projetos-dad{
    height:490px;
    overflow-y: auto;
    background-color: #141414;
    position:relative;
}

@media (max-width: 1200px){
    .lista-projetos-dad{
        height:550px;

    }
}

@media (max-width: 1500px){     

    .dad-projetos-menu{
        
        width: 80ch;

        overflow-x: hidden;

    }
}

@media (max-width: 1450px){

    .dad-projetos-menu{

        overflow-x: hidden;

        width: 68ch;
    }
}

@media (max-width: 1300px){

    .dad-projetos-menu{
        width: 56ch;

        overflow-x: hidden;
        
    }

}

@media (max-width: 1200px){

    .dad-projetos-menu{
        width: 56ch;
        
        overflow-x: hidden;
    }

}

@media (max-width: 1100px){

    .dad-projetos-menu{
        width: 42ch;

        overflow-x: hidden;
    }

}

@media (max-width: 1000px){

    .dad-projetos-menu{
        display:block;
        visibility: hidden;
        
        overflow: hidden;
        position: absolute;
        left:0;
        top: 70px;
        background-color: rgba(20,20,20,0.9);
        width: 100%;
        height: 0px;
        z-index:2;
        transition: all .6s;
    }

    .dad-projetos-menu-active{
        display:block;
        height: 550px;
        visibility: visible;
    }

}

.hamburger{
    display:none;
}

.btn-mobile{
    display:none;
}

@media (max-width: 1000px){

    .btn-mobile{
        display:flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none; 
        cursor:pointer;
        color:#fff;
        gap: 0.5rem;
    }

    .hamburger{
        display:block;
    }

    .projetos > header{
        display:flex;
        position: relative;
        justify-content: space-between;
    }
    
    #hamburger{
        border-top: 3px solid #F25D07;
        width: 30px;
        margin-right:20px;
        cursor:pointer;
    }
    
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: #F25D07;
        margin-top: 5px;
    }

}


.balls-of-projects{
    position:absolute;
    width: 50px;
    display: flex;
    z-index: 2;
    gap:10px;
    top: 50px;
    left: 120px;
    
}

.ball-project{
    border: 3px solid #F25D07;
    padding: 6px;
    border-radius: 50%;
    z-index: 2;
    left:0;
    cursor: pointer;
}

.ball-project:hover{
    background-color: #F25D07;
}


.ball-active{
    background-color: #F25D07;
}

.ball-none{
    display:none;
}

.projetos-menu{
    display:flex;
    align-items: center;
    margin-left:10px;
    gap:10px;

    overflow-x:hidden;
}

@media (max-width: 1500px){     

    .projetos-menu{     /* uma bolinha*/
        width: 80ch;
    }
}

@media (max-width: 1450px){

    .projetos-menu{     /* two balls*/
        width: 90ch;
        /*transform: translateX(-100px);*/
    }
}

@media (max-width: 1300px){

    .projetos-menu{     /* three balls*/
        width: 99ch;
        /*transform: translateX(-98px);*/
        /*transform: translateX(-240px);*/
    }
}

@media (max-width: 1200px){

    .projetos-menu{     /* three balls*/
        width: 80ch;
        /*transform: translateX(-100px);*/
        /*transform: translateX(-230px);*/
    }
}

@media (max-width: 1100px){

    .projetos-menu{     /* four balls*/
        width: 423ch;
        /*transform: translateX(-100px);*/
        /*transform: translateX(-240px);*/
        /*transform: translateX(-380px);*/
    }
}

.projetos-menu li{ 
    color:#fff;
    display:inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor:pointer;
    white-space: nowrap;
}

.projetos-menu li:active{
    color: #F25D07;
}

.projetos-menu li > img{
    display:none;
}

.lista-projetos{
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.lista-projetos li{
    border: 3px solid rgb(0, 0, 0);
    flex-wrap:wrap;
    margin: 0px;
    width:40ch;
    position:relative;
    background-color: #F25D07;
}

.lista-projetos li > p > myTags{
    display: flex;
    gap: 5px;
}

myTags > span{
    display: inline-block;
    background-color: #8f8f8f;
    padding: 2px 2px;
    border-radius: 4px;
    color: #fff;
}

.tagHtml {
    background-color: #db3232;
}

.tagCss {
    background-color: #3254db;
}

.tagJs {
    background-color: #dbae32;
}

.tagFireBase {
    background-color: #db9d32;
}

.tagMongoDb {
    background-color: #32db57;
}

.tagReactNative {
    background-color: #32cadb;
}
/*---------------*/
@media (max-width: 1000px){

    .projetos-menu{
        background-color:#141414;
        width: 100%;
        height:0px;
        overflow-x:hidden;
        overflow-y: hidden;
        display:block;
        left:0px;
        z-index:2;
        position: relative;
        margin:0;
        visibility: hidden;
    }

    .projetos-menu li{
        display:flex;
        font-size:2rem;
        text-align: center;
        padding: 15px;
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }

    .projetos-menu li > img{
        display: inline-block;
    }

    .projetos-menu-active{
        visibility: visible;
        height: auto;
        display: block;
        
    }

    .balls-of-projects{
        display:none;
    }
}

@media (max-width: 1200px){
    .lista-projetos li{
        width:30ch;
    }
}

@media (max-width: 910px){
    .lista-projetos li{
        width:25ch;
    }
}

@media (max-width: 800px){
    .lista-projetos li{
        width:30ch;
    }
}

@media (max-width: 590px){
    .lista-projetos li{
        width:80%;
    }
}

.lista-projetos img{
    width:100%;
    cursor:pointer;
    height:100%;
}

.lista-projetos li > img:hover{
    opacity: 0.7;
}

.lista-projetos li > img:active{
    opacity: 0.5;
}

.lista-projetos .boxForP{
    position:absolute;
    background-color:#141414;
    opacity:0.7;
    bottom:0;
    color:#fff;
    width: 100%;
}

.link-pros-projetos{
    color:#F25D07;
    display:block;
    text-align:center;
    width:200px;
    padding: 10px;
    margin:0 auto;
    cursor:pointer;
    font-size:1.2rem;
    text-transform: uppercase;
}

/*
.boxForP-hide{
    display:block;
}*/